<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6NKqSgugihhrEos2vjyWptnLtT4Bdr2w</string>
	<key>GCM_SENDER_ID</key>
	<string>171033213171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.brmja.elmotamizon</string>
	<key>PROJECT_ID</key>
	<string>al-motamizon</string>
	<key>STORAGE_BUCKET</key>
	<string>al-motamizon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171033213171:ios:8dcb39ab6d0d2b8cb65f86</string>
</dict>
</plist>